*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: right;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 10px whitesmoke;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img3.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-size: 3rem;
    font-family: century;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke, 0 0 15px whitesmoke;
    font-weight: bold;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2opx;
    margin-bottom: 50px;
}
#img{
    display: flex;
}
#img image{
    width: 600px;
    height: 400px;
}